In [7]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [58]:
housing_df = pd.read_csv('housing.csv')
housing_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [59]:
housing_df.dropna(inplace = True)

In [26]:
from sklearn.preprocessing import StandardScaler

In [60]:
X = housing_df.drop(['median_house_value', 'ocean_proximity'], axis = 1)
y = housing_df['median_house_value']

In [61]:
X = StandardScaler().fit_transform(X)

In [8]:
from sklearn.model_selection import train_test_split

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 123)

In [10]:
from sklearn.neighbors import KNeighborsRegressor

In [68]:
for neighbours in [1, 3, 9]:
    reg = KNeighborsRegressor(n_neighbors=neighbours)
    reg.fit(X_train,y_train)
    print('{} vecinos, score training: {}'.format(neighbours, reg.score(X_train,y_train)))
    print('{} vecinos, score testing: {}'.format(neighbours, reg.score(X_test,y_test)))
    print('**************************')

1 vecinos, score training: 1.0
1 vecinos, score testing: 0.5673272379099752
**************************
3 vecinos, score training: 0.8481383902940176
3 vecinos, score testing: 0.6913133898442125
**************************
9 vecinos, score training: 0.776286928597573
9 vecinos, score testing: 0.722314124210629
**************************