In [ ]:
import pandas as pd

# CSV

In [ ]:
csv_file = '/content/Nuclear_warheads 1945-2022 per country.csv' # From Kaggle
df = pd.read_csv( csv_file)

In [ ]:
df.head(5)

,Year,United States,Russia,United Kingdom,France,China,Israel,India,Pakistan,North Korea
0,1945,2,0,0,0,0,0,0,0,0
1,1946,9,0,0,0,0,0,0,0,0
2,1947,13,0,0,0,0,0,0,0,0
3,1948,50,0,0,0,0,0,0,0,0
4,1949,170,1,0,0,0,0,0,0,0

# JSON

In [ ]:
import json

In [ ]:
json_file = 'https://parcan.es/api/transparencia/delegaciones/2022/?format=json'
df = pd.read_json( json_file )
df.head(5)

,id_delegacion,objeto_delegacion,fecha_inicio,lugar_delegacion,nombre_asistente,apellido1_asistente,apellido2_asistente,dieta_asistente,desplazamiento,alojamiento,otros
0,65,Asistencia a la Primera Reunión del Comité Per...,2022-01-27,Namur (Bélgica),Gustavo Adolfo,Matos,Expósito,0,594.97,225.05,0

# SQL

In [ ]:
import sqlite3

In [ ]:
# Crea un objeto de conexión a la base de datos SQLite
con = sqlite3.connect('/content/portal_mammals.sqlite')

In [ ]:
df = pd.read_sql('SELECT * FROM species;',con)

In [ ]:
df.head(5)

  species_id             genus          species    taxa
0         AB        Amphispiza        bilineata    Bird
1         AH  Ammospermophilus          harrisi  Rodent
2         AS        Ammodramus       savannarum    Bird
3         BA           Baiomys          taylori  Rodent
4         CB   Campylorhynchus  brunneicapillus    Bird

In [ ]:
df.loc[1]

species_id                  AH
genus         Ammospermophilus
species                harrisi
taxa                    Rodent
Name: 1, dtype: object

In [ ]:
df.iloc[1]

species_id                  AH
genus         Ammospermophilus
species                harrisi
taxa                    Rodent
Name: 1, dtype: object